mixin post(src, alt, name, time, desc)
  .center__content__post
    .center__content__avatar-wrapper
      img.center__content__avatar(src=src, alt=alt)
    .center__content__info
      h1.center__content__name= name
      time.center__content__time= time
      p.center__content__desc= desc
